*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    /* height: 50px;
    background-color: #ff6900; */
    /* padding: 10px; */
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 10;
}

main{
    margin-top: 60px;
}

.bordered{
    border: 2px dashed black;
}

.flex {
    display: flex;    
}

header a{
    font-size: 0.8em;
    text-decoration: none;
    padding: 30px 10px;
    margin: 0 5px;
    color: black;
}

.container_head {
    height: 60px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.piani, .login{
    height: 60px;
    display: flex;
    align-items: center;
}

header ul{
    display: flex;
    list-style-type:none;
}

.logo{
    padding: 15px;
}

#inizia{
    background-color: #0061ff;
    padding: 5px 10px;
    color: white;
    margin-right: 15px;
}


.background_jumbo {
    background-color: #b4d0e7;
    height: 570px;
}

.container_jumbo {
    position: relative;
    margin: auto;
    max-width: 1200px;
    min-height: 300px;
}

.absolute{
    position: absolute;
    top: 50px;
    left: 0;
}

.container_jumbo>div>div>h1{
    font-size: 4em;
}

.jumbo_left{
    width: 30%;
}

.jumbo_left {
    width: 30%;
}

.jumbo_left div{
    margin: 40px 0;
}

#inizia_jumbo{
    background-color: #0061ff;
    padding: 10px;
    text-decoration: none;
    color: white;
}

#icon_jumbo{
    font-size: 3em;
    color: black;
}

#icon_jumbo_left{
    margin-top: 80px;
}

.jumbo_right{
    width: 70%;   
}

.jumbo_right>img{
    width: 100%;
}

.container_main{
    margin: auto;
    max-width: 1000px;
}

.find{
    margin-top: 200px;
}

.plans{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.card_plans{
    min-height: 500px;
    width: calc(100% / 3);
}

.team_left{
    width: 70%;
}

.team_right{
    width: 30%;
}

.container_team > div > p{
    text-align: center;
}

.partner_left{
    width: 60%;
}

.partner_right{
    width: 40%;
}

.partner_left > img{
    width: 100%;
}

.operations{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.card_operations{
    width: calc(100% / 3);
}

.card_operations>div>img{
    width: 100%;
}

.container_table{
    width: 100%;
    min-height: 400px;
}

.table{
    width: calc(100vw / 3);
    height: calc(100vw / 3);
    display: flex;
    flex-wrap: wrap;
}

.table_card{
    width: 50%;
    justify-content: center;

}

.table_card>img{
    width: 50%;
    
}

.background_under_table{
    background-color: aqua;
}

.container_under_table{
}

.under_table_left{
    width: 60%;
}

.under_table_right{
    width: 40%;
}

.questions{
    justify-content: space-between;
    align-content: center;
}

footer{
    background-color: aquamarine;
}

.container_footer {
    margin: auto;
    max-width: 1200px;
    /* min-height: 300px; */
    background-color: rgb(58, 126, 78);
}

.card_footer{
    width: 20%;
}

.language {
    margin: auto;
    max-width: 1200px;
    border-top: ;
}